@media screen and (max-width:1700px) {
    .left-ellipse {
        left: -50px;
    }

    .center {
        padding-left: calc(50% - 740px);
        padding-right: calc(50% - 740px);
    }
}

@media screen and (max-width:1600px) {
    .left-ellipse {
        left: -75px;
    }

    .center {
        padding-left: calc(50% - 700px);
        padding-right: calc(50% - 700px);
    }

    .courses {
        &__h1 {
            font-size: 50px;
        }

        &__desc-block {
            width: 800px;
        }

        &__superman {
            height: 500px;
            width: 500px;
            right: 0px;
            top: -370px;
        }

        &__superman-backg {
            right: 0px;
            top: -315px;
            width: 500px;
        }

    }
}

@media screen and (max-width:1450px) {
    @mixin p_text {
        font-weight: 400;
        font-size: 20px;
        line-height: 160%;
        color: rgba(51, 26, 47, 0.8);
    }

    .center {
        padding-left: calc(50% - 620px);
        padding-right: calc(50% - 620px);
    }

    .header {
        &__logo-picture {
            height: 55px;
            width: 55px;
        }

        &__logo-name {
            font-size: 28px;
        }

        &__desc {
            width: 130px;
            font-size: 10px;
        }

        &__ul li a {
            font-size: 21px;
        }

        &__arrow {
            width: 13px;
            height: 12px;
            margin-left: 8px;
        }

        &__number {
            font-size: 21px;
        }

        &__phone {
            height: 18px;
            width: 18px;
        }

        &__button {
            width: 165px;
            height: 50px;
            font-size: 21px;
        }

        &__enter {
            width: 22px;
            height: 22px;
        }
    }

    .courses {
        &__h1 {
            width: 720px;
            font-size: 46px;
        }

        &__desc-block {
            @include p_text;
            width: 700px;
        }
    }
}

@media screen and (max-width:1390px) {
    .history {
        &__img {
            width: 400px;
            height: 400px;
        }

        &__p {
            width: 670px;
        }
    }
}

@media screen and (max-width:1280px) {
    .center {
        padding-left: calc(50% - 550px);
        padding-right: calc(50% - 550px);
    }

    .left-ellipse {
        left: -80px;
    }

    .right-ellips {
        display: none;
    }

    .header {
        &__logo-picture {
            height: 45px;
            width: 45px;
        }

        &__logo-name {
            font-size: 24px;
        }

        &__desc {
            width: 130px;
            font-size: 10px;
        }

        &__ul li a {
            font-size: 18px;
        }

        &__arrow {
            width: 11px;
            height: 10px;
            margin-left: 8px;
        }

        &__number {
            font-size: 18px;
        }

        &__phone {
            height: 15px;
            width: 15px;
        }

        &__button {
            width: 152px;
            height: 43.88px;
            font-size: 18px;
        }

        &__enter {
            width: 20px;
            height: 20px;
        }
    }

    .courses {
        &__superman {
            height: 435px;
            width: 435px;
            right: -55px;
        }

        &__superman-backg {
            width: 450px;
            right: -70px;
        }

        &__right {
            margin-top: 90px;
        }
    }

    .history {
        @mixin p_text {
            font-weight: 400;
            font-size: 20px;
            line-height: 160%;
            color: rgba(51, 26, 47, 0.8);
        }

        @mixin h2_style {
            font-weight: 700;
            font-size: 40px;
            line-height: 64px;
            text-align: center;
            color: $color-1;
        }

        &__h2 {
            @include h2_style;
        }

        &__p {
            @include p_text;
        }

        &__img {
            width: 350px;
            height: 350px;
        }
    }
}

@media screen and (max-width:1250px) {
    .courses {
        &__right {
            display: none;
        }

        &__superman_hidden {
            display: block;
            top: 350px;
            right: -120px;
        }

    }
}

@media screen and (max-width:1140px) {
    .center {
        padding-left: calc(50% - 500px);
        padding-right: calc(50% - 500px);
    }

    .left-ellipse {
        display: none;
    }

    .header {

        &__logo-name {
            margin-left: 7px;
            padding-right: 11px;
        }

        &__desc {
            padding-left: 11px;
        }

        &__ul li a {
            font-size: 16px;
        }


        &__number {
            font-size: 16px;
        }

        &__phone {
            height: 14px;
            width: 14px;
            margin-right: 8px;
        }

        &__button {
            width: 120px;
            height: 38px;
            font-size: 15px;
        }

        &__tel {
            margin-right: 60px;
        }

        &__enter {
            width: 19px;
            height: 19px;
        }
    }

    .history {
        &__img_margin-right {
            margin-right: 45px;
        }

        &__img_margin-left {
            margin-left: 45px;
        }

        &__p {
            width: 600px;
        }
    }

}

@media screen and (max-width:1024px) {
    .left-ellipse {
        left: -77px;
    }

    .center {
        padding-left: calc(50% - 430px);
        padding-right: calc(50% - 430px);
    }

    .header {
        &__ul {
            display: none;
        }

        &__menu-burger {
            display: block;
            margin-left: 30px;
            cursor: pointer;
            margin-top: 25px;
        }


    }

    .crumbs {
        margin-top: 40px;
    }

    .courses {
        &__superman_hidden {
            height: 400px;
            width: 400px;
            right: -165px;
        }

        &__desc-block {
            width: 600px;
        }
    }

    .history {
        &__p {
            width: 500px;
        }

        &__img {
            width: 320px;
            height: 320px;
        }
    }
}

@media screen and (max-width:900px) {
    .center {
        padding-left: calc(50% - 340px);
        padding-right: calc(50% - 340px);
    }

    .header {

        &__number,
        &__phone {
            display: none;
        }

        &__menu-burger {
            margin-left: 80px;
        }
    }

    .courses {
        &__desc-block {
            width: 500px;
        }
    }
    .history{
        &__p{
            width: 400px;
        }
        &__img{
            width: 280px;
            height: 280px;
        }
        &__img_margin-left{
            margin-left: 25px;
        }
        &__img_margin-right{
            margin-right: 25px;
        }
    }
}

@media screen and (max-width:768px) {
    .courses {
        &__desc-block {
            width: 500px;
        }

        &__superman_hidden {
            width: 390px;
            height: 390px;
        }
    }
}

@media screen and (max-width:750px) {
    .courses {
        &__h1 {
            font-size: 40px;
            line-height: 65px;
        }

        &__desc-block {
            width: 410px;
        }

        &__superman_hidden {
            width: 370px;
            height: 370px;
            top: 320px;
        }
    }
    .history{
        margin-top: 50px;
        &__top{
            flex-direction: column; 
        }
        &__bottom{
            flex-direction: column-reverse;
        }
        &__p{
            width: 500px;
            margin-top: 15px;
        }
        &__h2{
            font-size: 32px;
            line-height: 45px;
        }
       
    }
}

@media screen and (max-width:690px) {
    .center {
        padding-left: 3%;
        padding-right: 3%;
    }

    .header {
        &__desc {
            display: none;
        }

        &__logo {
            border-right: none;
        }
    }

}

@media screen and (max-width:650px) {
    .courses {
        &__h1 {
            font-size: 30px;
            line-height: 50px;
            width: 500px;
        }

        &__desc-block {
            width: 360px;
        }

        &__superman_hidden {
            width: 330px;
            height: 330px;
        }
    }
}

@media screen and (max-width:570px) {
    .header {
        &__logo-picture {
            width: 40px;
            height: 40px;
        }

        &__logo-name {
            font-size: 20px;
        }

        &__four {
            font-size: 25px;
        }

        &__button {
            width: 110px;
            height: 35px;
            font-size: 14px;
        }

        &__menu-burger {
            margin-left: 20px;
        }
    }
    .courses {
        &__h1 {
            font-size: 28px;
            line-height: 45px;
            width: 430px;
        }

        &__superman_hidden {
            top: 185px;
        }

        &__desc-block {
            font-size: 19px;
        }
    }
}

@media screen and (max-width:540px){
    .history{
        &__p{
            width: 420px;
        }
        &__h2{
            font-size: 28px;
            line-height: 40px;
        }
    }
}

@media screen and (max-width:470px) {
    .header {
        &__right {
            display: block;
        }

        &__button {
            margin-top: 25px;
            width: 100px;
            height: 36px;
            font-size: 14px;
            line-height: 28px;
            margin-left: -35px;
        }

        &__menu-burger {
            margin-left: 0px;
            margin-top: 28px;
        }

        &__enter {
            width: 13px;
            height: 13px;
        }

        &__logo-name {
            padding-right: 0px;
        }
    }

    .courses {
        &__h1 {
            width: 230px;
            font-size: 26px;
            line-height: 35px;
            margin-top: 44px;
        }

        &__superman_hidden {
            width: 220px;
            height: 220px;
            right: -110px;
            top: 163px;
        }

        &__desc-block {
            font-size: 18px;
            width: 330px;
        }
    }
    .history{
        &__h2{
            font-size: 24px;
            line-height: 35px;
        }
        &__img{
            width: 268px;
            height: 268px;
        }
        &__p{
            width: 350px;
        }
    }
}

@media screen and (max-width:375px) {
    .center {
        padding-left: calc(50% - 150px);
        padding-right: calc(50% - 150px);
    }

    .header {
        &__menu-burger {
            width: 35px;
            height: 25px;
            margin-top: 31px;
        }

        &__logo-picture {
            width: 35px;
            height: 35px;
        }

        &__logo-name {
            font-size: 18px;
        }

        &__four {
            font-size: 20px;
        }

        &__button {
            width: 85px;
            height: 35px;
            font-weight: 500;
            font-size: 13px;
            line-height: 27px;
        }

        &__enter {
            width: 13px;
            height: 13px;
            margin-right: 10px;
        }
    }

    .crumbs {
        margin-top: 40px;
    }

    .courses {
        &__desc-block {
            width: 300px;
        }
    }
    .history{
        &__p{
            width: 300px;
        }
    }
}