* {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

.container {
  overflow: hidden;
}

a {
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

.center {
  padding-left: calc(50% - 765px);
  padding-right: calc(50% - 765px);
}

.container {
  position: relative;
}

.left-ellipse {
  position: absolute;
}

.right-ellips {
  position: absolute;
  right: 0px;
  top: 380px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 30px;
}

.header__menu-burger {
  display: none;
  width: 42px;
  height: 28px;
}

.header__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-right: 1px solid #A398A2;
  height: 80px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__logo-name {
  font-weight: 700;
  font-size: 31.8678px;
  line-height: 39px;
  letter-spacing: -0.01em;
  color: #54618E;
  margin-top: 5px;
  margin-left: 13px;
  padding-right: 19px;
}

.header__four {
  color: #D653D2;
  font-size: 35px;
}

.header__desc {
  width: 185px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: rgba(51, 26, 47, 0.9);
  padding-left: 25px;
}

.header__arrow {
  width: 12px;
  height: 12px;
}

.header__phone {
  width: 18px;
  height: 18px;
  margin-right: 10px;
}

.header__nav {
  margin-left: 40px;
}

.header__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__analitics {
  margin-right: 11px;
}

.header__ul li a {
  font-weight: 400;
  font-size: 24px;
  line-height: 35px;
  color: #331A2F;
}

.header__ul li a:hover {
  color: #9510D9;
  fill: #9510D9;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header__arrow {
  margin-right: 50px;
}

.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__enter {
  height: 23px;
  width: 23px;
}

.header__tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 91px;
}

.header__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 169px;
  height: 45px;
  left: 1556px;
  top: 53px;
  background: #CF51CE;
  border-radius: 12px;
  font-weight: 500;
  font-size: 23px;
  line-height: 35px;
  letter-spacing: 0.02em;
  color: #FFFFFF;
}

.header__button:hover {
  background: #9510D9;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header__enter {
  margin-right: 20px;
}

.header__number {
  font-weight: 400;
  font-size: 24px;
  line-height: 35px;
  color: #331A2F;
}

.crumbs {
  margin-top: 75px;
}

.crumbs__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.crumbs__dash {
  margin-right: 10px;
  margin-left: 10px;
}

.crumbs__a, .crumbs__dash {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: rgba(51, 26, 47, 0.5);
}

.crumbs__a:hover {
  color: #6B626A;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.courses__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.courses__h1 {
  font-weight: 700;
  font-size: 56px;
  line-height: 80px;
  width: 870px;
}

.courses__span_color {
  color: #CF51CE;
}

.courses__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.courses__wallet {
  width: 46px;
  height: 46px;
  margin-right: 20px;
}

.courses__price-p {
  font-weight: 600;
  font-size: 20px;
  line-height: 29px;
  text-transform: uppercase;
  color: rgba(51, 26, 47, 0.8);
}

.courses__price_color {
  font-size: 35px;
  color: #CF51CE;
  margin-right: 7px;
}

.courses__desc {
  margin-top: 20px;
}

.courses__desc-block {
  margin-bottom: 15px;
  width: 860px;
  font-weight: 400;
  font-size: 25px;
  line-height: 160%;
  color: rgba(51, 26, 47, 0.8);
}

.courses__right {
  position: relative;
}

.courses__superman {
  height: 550px;
  width: 550px;
  position: absolute;
  right: 65px;
  top: -375px;
}

.courses__superman-backg {
  position: absolute;
  right: 22px;
  top: -352px;
  opacity: 0.40;
  width: 600px;
}

.courses__superman_hidden {
  display: none;
  position: absolute;
}

.history {
  margin-top: 140px;
}

.history__h2 {
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  color: #331A2F;
  text-align: center;
  margin-bottom: 90px;
}

.history__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.history__p {
  font-weight: 400;
  font-size: 25px;
  line-height: 160%;
  color: rgba(51, 26, 47, 0.8);
  width: 740px;
}

.history__img_margin-right {
  margin-right: 80px;
}

.history__img_margin-left {
  margin-left: 80px;
}

.history__bottom {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.education {
  margin-top: 140px;
}

.education__main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  margin-top: 80px;
}

.education__four {
  color: #EA5DBB;
  font-size: 53px;
}

.education__h2 {
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  color: #331A2F;
  position: relative;
}

.education__line {
  position: absolute;
  top: 130px;
  right: 416px;
  width: 265px;
}

.education__p {
  margin-top: 30px;
  font-weight: 400;
  font-size: 25px;
  line-height: 160%;
  text-align: center;
  color: rgba(51, 26, 47, 0.8);
}

.education__icon {
  width: 70px;
  height: 70px;
  background: #CF51CE;
  -webkit-box-shadow: 0px 4px 25px rgba(234, 93, 187, 0.25);
          box-shadow: 0px 4px 25px rgba(234, 93, 187, 0.25);
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.education__svg {
  height: 48px;
  width: 48px;
}

.education__h5 {
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
  color: #331A2F;
  width: 280px;
  margin-top: 30px;
}

.education__desc {
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  color: rgba(51, 26, 47, 0.8);
  width: 290px;
  margin-top: 10px;
}

@media screen and (max-width: 1700px) {
  .left-ellipse {
    left: -50px;
  }
  .center {
    padding-left: calc(50% - 740px);
    padding-right: calc(50% - 740px);
  }
}

@media screen and (max-width: 1600px) {
  .left-ellipse {
    left: -75px;
  }
  .center {
    padding-left: calc(50% - 700px);
    padding-right: calc(50% - 700px);
  }
  .courses__h1 {
    font-size: 50px;
  }
  .courses__desc-block {
    width: 800px;
  }
  .courses__superman {
    height: 500px;
    width: 500px;
    right: 0px;
    top: -370px;
  }
  .courses__superman-backg {
    right: 0px;
    top: -315px;
    width: 500px;
  }
}

@media screen and (max-width: 1450px) {
  .center {
    padding-left: calc(50% - 620px);
    padding-right: calc(50% - 620px);
  }
  .header__logo-picture {
    height: 55px;
    width: 55px;
  }
  .header__logo-name {
    font-size: 28px;
  }
  .header__desc {
    width: 130px;
    font-size: 10px;
  }
  .header__ul li a {
    font-size: 21px;
  }
  .header__arrow {
    width: 13px;
    height: 12px;
    margin-left: 8px;
  }
  .header__number {
    font-size: 21px;
  }
  .header__phone {
    height: 18px;
    width: 18px;
  }
  .header__button {
    width: 165px;
    height: 50px;
    font-size: 21px;
  }
  .header__enter {
    width: 22px;
    height: 22px;
  }
  .courses__h1 {
    width: 720px;
    font-size: 46px;
  }
  .courses__desc-block {
    font-weight: 400;
    font-size: 20px;
    line-height: 160%;
    color: rgba(51, 26, 47, 0.8);
    width: 700px;
  }
}

@media screen and (max-width: 1280px) {
  .center {
    padding-left: calc(50% - 550px);
    padding-right: calc(50% - 550px);
  }
  .left-ellipse {
    left: -80px;
  }
  .right-ellips {
    display: none;
  }
  .header__logo-picture {
    height: 45px;
    width: 45px;
  }
  .header__logo-name {
    font-size: 24px;
  }
  .header__desc {
    width: 130px;
    font-size: 10px;
  }
  .header__ul li a {
    font-size: 18px;
  }
  .header__arrow {
    width: 11px;
    height: 10px;
    margin-left: 8px;
  }
  .header__number {
    font-size: 18px;
  }
  .header__phone {
    height: 15px;
    width: 15px;
  }
  .header__button {
    width: 152px;
    height: 43.88px;
    font-size: 18px;
  }
  .header__enter {
    width: 20px;
    height: 20px;
  }
  .courses__superman {
    height: 435px;
    width: 435px;
    right: -55px;
  }
  .courses__superman-backg {
    width: 450px;
    right: -70px;
  }
  .courses__right {
    margin-top: 90px;
  }
}

@media screen and (max-width: 1250px) {
  .courses__right {
    display: none;
  }
  .courses__superman_hidden {
    display: block;
    top: 350px;
    right: -120px;
  }
}

@media screen and (max-width: 1140px) {
  .center {
    padding-left: calc(50% - 500px);
    padding-right: calc(50% - 500px);
  }
  .left-ellipse {
    display: none;
  }
  .header__logo-name {
    margin-left: 7px;
    padding-right: 11px;
  }
  .header__desc {
    padding-left: 11px;
  }
  .header__ul li a {
    font-size: 16px;
  }
  .header__number {
    font-size: 16px;
  }
  .header__phone {
    height: 14px;
    width: 14px;
    margin-right: 8px;
  }
  .header__button {
    width: 120px;
    height: 38px;
    font-size: 15px;
  }
  .header__tel {
    margin-right: 60px;
  }
  .header__enter {
    width: 19px;
    height: 19px;
  }
}

@media screen and (max-width: 1024px) {
  .left-ellipse {
    left: -77px;
  }
  .center {
    padding-left: calc(50% - 430px);
    padding-right: calc(50% - 430px);
  }
  .header__ul {
    display: none;
  }
  .header__menu-burger {
    display: block;
    margin-left: 30px;
    cursor: pointer;
    margin-top: 25px;
  }
  .crumbs {
    margin-top: 40px;
  }
  .courses__superman_hidden {
    height: 400px;
    width: 400px;
    right: -165px;
  }
  .courses__desc-block {
    width: 600px;
  }
}

@media screen and (max-width: 900px) {
  .center {
    padding-left: calc(50% - 340px);
    padding-right: calc(50% - 340px);
  }
  .header__number, .header__phone {
    display: none;
  }
  .header__menu-burger {
    margin-left: 80px;
  }
  .courses__desc-block {
    width: 500px;
  }
}

@media screen and (max-width: 768px) {
  .courses__desc-block {
    width: 500px;
  }
  .courses__superman_hidden {
    width: 390px;
    height: 390px;
  }
}

@media screen and (max-width: 750px) {
  .courses__h1 {
    font-size: 40px;
    line-height: 65px;
  }
  .courses__desc-block {
    width: 410px;
  }
  .courses__superman_hidden {
    width: 370px;
    height: 370px;
    top: 320px;
  }
}

@media screen and (max-width: 690px) {
  .center {
    padding-left: 3%;
    padding-right: 3%;
  }
  .header__desc {
    display: none;
  }
  .header__logo {
    border-right: none;
  }
}

@media screen and (max-width: 650px) {
  .courses__h1 {
    font-size: 30px;
    line-height: 50px;
    width: 500px;
  }
  .courses__desc-block {
    width: 360px;
  }
  .courses__superman_hidden {
    width: 330px;
    height: 330px;
  }
}

@media screen and (max-width: 570px) {
  .header__logo-picture {
    width: 40px;
    height: 40px;
  }
  .header__logo-name {
    font-size: 20px;
  }
  .header__four {
    font-size: 25px;
  }
  .header__button {
    width: 110px;
    height: 35px;
    font-size: 14px;
  }
  .header__menu-burger {
    margin-left: 20px;
  }
}

@media screen and (max-width: 570px) {
  .courses__h1 {
    font-size: 28px;
    line-height: 45px;
    width: 430px;
  }
  .courses__superman_hidden {
    top: 185px;
  }
  .courses__desc-block {
    font-size: 19px;
  }
}

@media screen and (max-width: 470px) {
  .header__right {
    display: block;
  }
  .header__button {
    margin-top: 25px;
    width: 100px;
    height: 36px;
    font-size: 14px;
    line-height: 28px;
    margin-left: -35px;
  }
  .header__menu-burger {
    margin-left: 0px;
    margin-top: 28px;
  }
  .header__enter {
    width: 13px;
    height: 13px;
  }
  .header__logo-name {
    padding-right: 0px;
  }
  .courses__h1 {
    width: 230px;
    font-size: 26px;
    line-height: 35px;
    margin-top: 44px;
  }
  .courses__superman_hidden {
    width: 220px;
    height: 220px;
    right: -110px;
    top: 163px;
  }
  .courses__desc-block {
    font-size: 18px;
    width: 330px;
  }
}

@media screen and (max-width: 375px) {
  .center {
    padding-left: calc(50% - 150px);
    padding-right: calc(50% - 150px);
  }
  .header__menu-burger {
    width: 35px;
    height: 25px;
    margin-top: 31px;
  }
  .header__logo-picture {
    width: 35px;
    height: 35px;
  }
  .header__logo-name {
    font-size: 18px;
  }
  .header__four {
    font-size: 20px;
  }
  .header__button {
    width: 85px;
    height: 35px;
    font-weight: 500;
    font-size: 13px;
    line-height: 27px;
  }
  .header__enter {
    width: 13px;
    height: 13px;
    margin-right: 10px;
  }
  .crumbs {
    margin-top: 40px;
  }
  .courses__desc-block {
    width: 300px;
  }
}
/*# sourceMappingURL=style.css.map */